@model IEnumerable<SmartTaxi.Web.Domain.Vehicle>

@{
    ViewBag.Title = "All vehicles";
}

<h2>All Vehicles</h2>

<div class="vehicles">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th> <!-- scope='col' znaci da je ovaj table header header za kolonu -->
            <th scope="col">Registration number</th>
            <th scope="col">Vehicle type</th>
            <th scope="col">Year</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var vehicle in Model)
            {
                <tr>
                    <th scope="row">1</th>
                    <td>@vehicle.RegistrationNumber</td>
                    <td>@vehicle.VehicleType</td>
                    <td>@vehicle.Year</td>
                </tr>
            }
        </tbody>
    </table>
</div>
